---
layout: base
---

<div class="lightbox">
  <figure>
    <img src="https://i.picsum.photos/id/365/500/300.jpg" alt="" class="lightbox-image">
  </figure>
</div>

<ul class="site-users"></ul>
<main class="works">
  <div class="site-title">
    <h1>
      {% brackets "[", 10%}
      <span>Typographic Singularity 2020</span>
      {% brackets "]", 50%}
    </h1>
    <h2>
      {% brackets "[", 1%}
      An annual celebration of the eclectic and experimental use of typography and language in creative practices in the
      {% link "https://www.rca.ac.uk/schools/school-of-communication/visual_communication/" %} Visual Communication
      programme{% endlink %} at the {% link "https://www.rca.ac.uk/"%}Royal College of Art{% endlink %}
      {% brackets "]", 50%}
    </h2>
  </div>
  <nav class="controls">
    <a href='#1' data-cursorText="Show Titles" data-section='title'
      class="control">{% brackets "{", 3 %}Titles{% brackets "}", 3 %}</a>
    <a href='#1' data-cursorText="Show Work" data-section='images'
      class="control">{% brackets "{", 3 %}Work{% brackets "}", 3 %}</a>
    <a href='#1' data-cursorText="Show Texts" data-section='description'
      class="control">{% brackets "{", 3 %}Texts{% brackets "}", 3 %}</a>
    <a href='#1' data-cursorText="Show Authors" data-section='author'
      class="control">{% brackets "{", 3 %}People{% brackets "}", 3 %}</a>
    <a href='#1' data-cursorText="Show Comments" data-section='comments'
      class="control">{% brackets "{", 3 %}Comments{% brackets "}", 3 %}</a>
    <nav class="site-auth">
      {% brackets "{", 3 %}
      <a id='js-signin' class='auth-signin' href="#" onclick="signOut();">Sign in with Google to
        comment</a>
      <span class="auth-user"></span>
      {% brackets "}", 3 %}
      <a class='auth-signout' href="#" onclick="signOut();">{% brackets "{", 3 %}Sign out{% brackets "}", 3 %}</a>
    </nav>
  </nav>
  {% brackets "]", 10%}

  {% for p in projects %}
  {% brackets "{", 1%}<div class="work" data-project="{{p.id}}">
    <section data-controls="images" data-brackets='[]' data-section='title' class="work-section work-title">
      <div class="section-content">
        <h2>{{p.title}}</h2>
      </div>
    </section>
    <section data-controls="description" data-section='work' data-brackets='[]' class="work-section work-images">
      <div class="section-content">
        {% assign images = p.images | split: "," %}
        {% for img in images %}
        {% if img %}
        {% fig img %}
        {% endif %}
        {% endfor %}

        {% if p.typeface != "" %}
        <button class="toggleTypeface" data-typeface='{{p.typeface}}'>{% brackets "{", 3 %}Activate
          {{p.typeface}}.ttf{% brackets "}", 3 %}</button>
        {% endif %}

        {% if p.id == "15" %}
        {% include maya.liquid %}
        {% endif %}

        {% if p.id == "17" %}
        {% include meli.liquid %}
        {% endif %}

        {% if p.id == "20" %}
        {% include roland.liquid %}
        {% endif %}

      </div>
    </section>

    <section data-controls="author" data-section='text' data-brackets='[]' class="work-section work-description">
      {% capture desc %}{{p.description | newline_to_br | strip_newlines}}{% endcapture %}
      {%assign paragraphs = desc | split: '<br />'  %}
      <div class="section-content">
        {%for graph in paragraphs %}
        <p>{{graph}}</p>
        {% endfor %}
      </div>
    </section>

    <section data-controls="comments" data-section='author' data-brackets='[]' class="work-section work-author">
      <div class="section-content">
        <h2>{% link p.website %}{{p.name}}{% endlink %}</h2>
      </div>
    </section>

    <section data-brackets='[]' data-section='comments' class="work-section work-comments">
      <ul class="comments" id='comment-list'></ul>
      <div class="comment-form" data-project="{{p.id}}">
        {% brackets "{", 1 %}<button class="toggleCommentForm">+</button><span class="input" id="comment-input-{{p.id}}"
          contenteditable></span><button
          class="comment-submit disabled">{% brackets "{", 1 %}Send{% brackets "}", 1 %}</button>{% brackets "}", 1 %}
      </div>
    </section>
  </div>{% brackets "}", 1%}
  {% endfor %}
</main>

<div class="jose-container">
</div>

<div class="maya-slider">
  <input min="100" max="200" value="100" type="range"></input>
</div>

<canvas id="cursor" class='cursor-container'></canvas>