---
layout: base
---

<div class="lightbox">
  <figure>
    <img src="https://i.picsum.photos/id/365/500/300.jpg" alt="" class="lightbox-image">
    <figcaption>Image caption goes here</figcaption>
  </figure>
</div>

<ul class="site-users"></ul>
<main class="works">
  <div class="site-title">
    <h1>[[[[[[[[[[Typographic Singularity 2020]]]]]]]]]]</h1>
  </div>
  <nav class="controls">
    <a href='#1' data-section='title' class="control">{%raw%}{{{Titles}}}{%endraw%}</a>
    <a href='#1' data-section='description' class="control">[[[Texts]]]</a>
    <a href='#1' data-section='author' class="control">(((People)))</a>
    <a href='#1' data-section='images' class="control">{%raw%}{{{Images}}}{%endraw%}</a>
    <a href='#1' data-section='comments' class="control">[[[Comments]]]</a>
    <nav class="site-auth">
      <a id='js-signin' class='auth-signin' href="#" onclick="signOut();">{Sign in with Google}</a>
      <span class="auth-user"></span>
      <a class='auth-signout' href="#" onclick="signOut();">{Sign out}</a>
    </nav>
  </nav>
  {% for p in projects %}
  <div class="work" data-project="{{p.id}}">
    <section data-brackets='{}' class="work-section work-title">
      <div class="section-content">
        <h2><span class="animate">{{p.title}}</span></h2>
      </div>
    </section>
    <section data-brackets='[]' class="work-section work-description">
      <div class="section-content">
        <span class="animate">
          {{p.description}}
        </span>
      </div>
    </section>
    <section data-brackets='()' class="work-section work-author">
      <div class="section-content">
        <h2><span class="animate">{{p.name}}<a href="{{p.website}}">(Website)</a></span></h2>
      </div>
    </section>
    <section data-brackets='{}' class="work-section work-images">
      <div class="section-content">
        {% assign images = p.images | split: "," %}
        {% for img in images %}
        <figure>
          <img src="https://ts-2020.s3.eu-west-2.amazonaws.com/{{img}}" alt="">
        </figure>
        {% endfor %}
        <figure>
          <img src="https://picsum.photos/500/300" alt="n">
        </figure>
        {% if p.typeface != "" %}
        <button class="toggleTypeface" data-typeface='{{p.typeface}}'>{%raw%}{{{Activate Typeface}}}{%endraw%}</button>
        {% endif %}
      </div>
    </section>
    <section data-brackets='[]' class="work-section work-comments">
      <div class="test-comments">
        <ul class="comments" id='comment-list'></ul>
        <div class="comment-form" data-project="{{p.id}}">
          <span class="input" id="comment-input-{{p.id}}" contenteditable>Say something nice</span>
          <button class="comment-submit">{%raw%}{{{Send}}}{%endraw%}</button>
        </div>
      </div>
    </section>
  </div>

  {% endfor %}
</main>